#header{
    width:100%;
    .h-info{
        width:100%;
        height:torem(150px); 
    }
    &>ul{
        width:100%;
        height:100%;
        overflow-x:scroll;
        white-space:nowrap;
        li{
            display:inline-block;
            width:25%;
            text-align:center;
        }
    }
}